p{
        font-family: Arial;
    }
    .Vido-title{
     font-size:20px;
     width:350px;
     font-weight:bold;
     font-family: Arial;
     line-height: 25px;
     margin-bottom:5px;
    }
    .Video-details{
        margin-top:0px;
        color:rgb(96,96,96);
        margin-bottom:20px;
        font-size:14px;
    }
      .Author{
        color:green;
        font-size:15px;
    }
    .Discription{
        width: 345px;
        margin-top:0px;
        color: rgb(96,96,96);
        line-height:20px;
    }
  .Buy-tag{
    margin-top: 70px ;
    background-color:rgb(27, 156, 61);
    width:450px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:20p;
    color:white;
    text-align: center;
    font-size:16px;
  }
  .shop{
     margin-left:2px;
  }
  .shop:hover{
    text-decoration:underline;
    cursor: pointer;
  }